[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
requests-mock = "*"
pre-commit = "*"

[packages]
aws-sam-cli = "*"
boto3 = "*"
botocore = "*"
requests = "~=2.23.0"
crhelper = "~=2.0.6"

[requires]
python_version = "3.7"
