[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests-mock = "~=1.12"
pytest = "~=9.0"
pytest-mock = "~=3.15"
pytest-cov = "~=7.0"
boto3 = "~=1.42"
coverage = "~=7.0"

[packages]
crhelper = "~=2.0"
synapseclient = "~=4.12.0"
[requires]
python_version = "3.14"

[scripts]
change_owner = "python change_owner.py"
