-i https://pypi.org/simple
certifi==2023.7.22
charset-normalizer==3.2.0
crhelper==2.0.11
deprecated==1.2.14
idna==3.4
importlib-metadata==4.13.0
keyring==23.4.1
requests==2.31.0
synapseclient==2.7.2
urllib3==1.26.16
wrapt==1.15.0
zipp==3.16.2
